@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body {
    background-color: #fdece2;
}

.btn {
    background: none;
    background-color: #a84c49;
    padding: 7px 16px;
    border-color: #a84c49;
    border-style: solid;
    border-radius: 50px;
    color: rgba(255, 255, 255, 1);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    text-align: center;
    text-decoration: none;
    outline: none;
    cursor: pointer;
    font-family: SodoSans_Normal;
    transition: 0.15s;
    margin-bottom: 10px;
}

.btn:hover {
    opacity: 0.8;
}

.form-img {
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 30px;
}

div {
    margin-left: 9px;
    text-align: center;
}

p {
    margin-left: 1px;
    text-align: center;
    text-align: center;
}

h1 {
    margin-left: 26px;
    text-align: center;
}

.username-login {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.login-password {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.bean-img {
    width: 60px;
    height: 60px;
}

.fa-user {
    display: inline-block;
    margin-left: 4px;
}

.fa-key {
    display: inline-block;
}